  - name: Setup R
    uses: r-lib/actions/setup-r@v2

  - name: Install R packages
    run: |
      Rscript -e 'install.packages(c("rmarkdown","knitr","psych","corrplot","ggplot2","tidyr","MASS"), repos="https://cloud.r-project.org")'

  - name: Render R Markdown to HTML
    run: |
      Rscript -e 'rmarkdown::render("FactorAnalysisShopping.Rmd", output_file = "index.html", output_dir = "site")'

  - name: Deploy to gh-pages branch (using peaceiris/actions-gh-pages)
    uses: peaceiris/actions-gh-pages@v3
    with:
      github_token: ${{ secrets.GITHUB_TOKEN }}
      publish_branch: gh-pages
      publish_dir: ./site
